In [19]:
import datetime

import numpy as np
import pandas as pd
import seaborn as sns
import tensorflow as tf
import matplotlib.pyplot as plt
import datetime 

from tensorflow.keras import Model, Sequential

from tensorflow.keras.optimizers import Adam
from tensorflow.keras.callbacks import EarlyStopping
from tensorflow.keras.losses import MeanSquaredError
from tensorflow.keras.metrics import MeanAbsoluteError

from tensorflow.keras.layers import Dense, Conv1D, LSTM, Lambda, Reshape, RNN, LSTMCell

#Yahoo!Finance 模組
import yfinance as yf 
import datetime as dt
import warnings
warnings.filterwarnings('ignore')

In [20]:
plt.rcParams['figure.figsize'] = (10, 7.5)
plt.rcParams['axes.grid'] = False

In [21]:
print(tf.__version__)

2.12.0

In [22]:
tf.random.set_seed(42)
np.random.seed(42)

In [23]:
# https://finance.yahoo.com/most-active
# https://finance.yahoo.com/crypto/
symbol = "ETH-USD"
# Read data
# start =dt.date(2018, 1, 1)
end = dt.date(2023, 7, 1)


df = yf.download(symbol,end=end)
df_Indicators= yf.download(symbol)
df.tail()

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-06-26,1900.050293,1905.360474,1840.215088,1859.432861,1859.432861,8619702292
2023-06-27,1859.346191,1911.311157,1856.838379,1889.703369,1889.703369,7686042202
2023-06-28,1889.906494,1890.208984,1822.102783,1827.971191,1827.971191,7135265016
2023-06-29,1828.059326,1876.530273,1828.059326,1852.227295,1852.227295,5677228612
2023-06-30,1852.008423,1945.274292,1831.281006,1933.188965,1933.188965,12895131248

In [24]:
df_Indicators.shape

(2082, 6)

In [25]:
def SMA(close,n):   
    return close.rolling(window=n).mean()

def WMA(close, n):
    weights = np.array(range(1, n+1))
    sum_weights = np.sum(weights)

    res = close.rolling(window=n).apply(lambda x: np.sum(weights*x) / sum_weights, raw=False)
    return res

def EMA(close, n):    
    res=close.ewm(span=n,min_periods=n).mean()
    return res

def RSI(close, n):
    # RSI
    change = close.diff(1)
    df["Gain"] = change.mask(change < 0, 0)
    df["Loss"] = abs(change.mask(change > 0, 0))
    df["AVG_Gain"] = df.Gain.rolling(n).mean()
    df["AVG_Loss"] = df.Loss.rolling(n).mean()
    df["RS"] = df["AVG_Gain"] / df["AVG_Loss"]
    df["RSI"] = 100 - (100 / (1 + df["RS"]))
    return df["RSI"]


def Stoch_RSI(close, n):
    #Stochastic RSI
    RSI=df["RSI"]
    LL_RSI = RSI.rolling(n).min()
    HH_RSI = RSI.rolling(n).max()         
    return (RSI - LL_RSI) / (HH_RSI - LL_RSI)

def BB(close, n):
    MA = pd.Series(close.rolling(n).mean())
    STD = pd.Series(close.rolling(n).std())
    bb1 = MA + 2 * STD
    df["Upper Bollinger Band"] = pd.Series(bb1)
    bb2 = MA - 2 * STD
    df["Lower Bollinger Band"] = pd.Series(bb2)
    return df["Upper Bollinger Band"],df["Lower Bollinger Band"]

def MACD(close):
    df['EMA12'] = close.ewm(span=12, adjust=False).mean() 
    df['EMA26'] = close.ewm(span=26, adjust= False).mean() 
    return df['EMA12'] - df['EMA26'] 


# 指標副程式(資料,天數)
df_Indicators['SMA_7']=SMA(df['Adj Close'],7)
df_Indicators['SMA_14']=SMA(df['Adj Close'],14)

df_Indicators['EMA_7']=EMA(df['Adj Close'],7)
df_Indicators['EMA_14']=EMA(df['Adj Close'],14)

df_Indicators['RSI']=RSI(df['Adj Close'],14)


df_Indicators['Stoch_RSI']=Stoch_RSI(df['Adj Close'],14)

df_Indicators['Upper_BB']=BB(df['Adj Close'],20)[0]
df_Indicators['Lower_BB']=BB(df['Adj Close'],20)[1]

df_Indicators['MACD']=MACD(df['Adj Close'])
df_Indicators= df_Indicators.dropna()
df_Indicators.head()

,Open,High,Low,Close,Adj Close,Volume,SMA_7,SMA_14,EMA_7,EMA_14,RSI,Stoch_RSI,Upper_BB,Lower_BB,MACD
Date,,,,,,,,,,,,,,,
2017-12-06,462.604004,462.708008,420.209991,428.588013,428.588013,1998259968,457.861293,457.749433,452.774001,443.875941,59.208403,0.000000,529.892890,325.173818,30.081025
2017-12-07,426.368988,441.397003,414.411011,434.407990,434.407990,2129570048,456.046147,459.481005,448.181404,442.593327,55.123209,0.000000,524.679154,340.588952,26.933777
2017-12-08,434.989014,466.062012,422.367004,456.031006,456.031006,2336379904,454.544861,458.132433,450.144155,444.409837,45.120639,0.000000,521.373494,354.736512,25.885959
2017-12-09,457.343994,504.147003,456.252991,473.502014,473.502014,2003849984,455.981005,458.648577,455.984402,448.335278,51.785929,0.150088,518.732628,369.288981,26.163721
2017-12-10,472.789001,472.789001,429.514008,441.721008,441.721008,1404179968,452.533578,456.533650,452.418195,447.444231,43.536034,0.000000,513.089733,382.430976,23.547942

In [26]:
df_Indicators.shape

(2033, 15)

In [28]:
df_Indicators['Date']

KeyError: 'Date'

KeyError: 'Date'

In [9]:
df_Indicators.to_csv('ETH-all.csv')

In [66]:
# from sklearn.preprocessing import MinMaxScaler
# scaler = MinMaxScaler()
# scaler.fit(df_Indicators)
# df_Indicators[df_Indicators.columns] = scaler.transform(df_Indicators[df_Indicators.columns])
# df_Indicators.to_csv('ETH-all Standardization.csv')

In [10]:
n = len(df)
train_df = df_Indicators[0:int(n*0.7)]
val_df = df_Indicators[int(n*0.7):int(n*0.9)]
test_df = df_Indicators[int(n*0.9):]

train_df.shape, val_df.shape, test_df.shape

((1442, 15), (412, 15), (179, 15))

In [68]:
#將值縮限在0~1之間，加速訓練時間
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
scaler.fit(train_df)

train_df[train_df.columns] = scaler.transform(train_df[train_df.columns])
val_df[val_df.columns] = scaler.transform(val_df[val_df.columns])
test_df[test_df.columns] = scaler.transform(test_df[test_df.columns])

In [33]:
train_df

,Open,High,Low,Close,Adj Close,Volume,SMA_7,SMA_14,EMA_7,EMA_14,RSI,Stoch_RSI,Upper_BB,Lower_BB,MACD
Date,,,,,,,,,,,,,,,
2017-12-06,0.080055,0.078514,0.072786,0.072821,0.072821,0.012567,0.080419,0.080748,0.079892,0.077974,0.587884,0.000000,0.085372,0.063123,0.369180
2017-12-07,0.072388,0.074080,0.071535,0.074052,0.074052,0.014139,0.080025,0.081129,0.078886,0.077687,0.543108,0.000000,0.084292,0.066858,0.364501
2017-12-08,0.074212,0.079212,0.073252,0.078625,0.078625,0.016615,0.079699,0.080832,0.079316,0.078093,0.433476,0.000000,0.083606,0.070286,0.362944
2017-12-09,0.078942,0.087135,0.080562,0.082321,0.082321,0.012634,0.080011,0.080946,0.080595,0.078970,0.506530,0.150088,0.083059,0.073812,0.363357
2017-12-10,0.082210,0.080611,0.074794,0.075598,0.075598,0.005455,0.079262,0.080480,0.079814,0.078771,0.416108,0.000000,0.081889,0.076997,0.359468
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-11-12,0.981852,0.982738,0.955316,0.969336,0.969336,0.207909,0.995792,0.985873,1.000000,0.995051,0.599767,0.000000,0.997233,0.945317,0.665867
2021-11-13,0.969666,0.960554,0.970690,0.966025,0.966025,0.161717,0.999820,0.991004,0.999797,0.998103,0.641876,0.308957,0.998273,0.957757,0.648828
2021-11-14,0.965839,0.958001,0.956614,0.960715,0.960715,0.134369,1.000000,0.996332,0.998271,1.000000,0.649568,0.365391,1.000000,0.965636,0.628804
2021-11-15,0.961280,0.973562,0.963014,0.946152,0.946152,0.183486,0.992105,1.000000,0.993357,0.999593,0.595814,0.000000,0.997383,0.979026,0.601483
2021-11-16,0.949301,1.000000,0.876229,0.873995,0.873995,0.316864,0.976020,0.994197,0.970999,0.989079,0.325857,0.000000,0.985371,1.000000,0.536464

In [11]:
train_df.to_csv('data/train.csv')
val_df.to_csv('data/val.csv')
test_df.to_csv('data/test.csv')