## 篩選比特幣資料 2022年

In [1]:
import pandas as pd

In [12]:
df=pd.read_csv('data/BTC-USD.csv')
mask=[]
for i in range(df.shape[0]):
    mask.append((df['Date'][i].split('/')[0])=='2022')

In [14]:
df2=df[mask]
df2.to_csv('data/BTC-2022.csv')

##  合併資料

In [22]:
import pandas as pd
from glob import glob
 
files =['data/BTC-2022.csv','data/CionScore_final.csv']
 
df_all= pd.concat((pd.read_csv(file) for file in files), axis='columns').drop(['Unnamed: 0','CoinDate','Adj Close'],axis=1)
df_all.to_csv('Data/BTC_final.csv')
df_all.head()

,Date,Open,High,Low,Close,Volume,ScorePositive,ScoreNegative,ScoreNeutral
0,2022/1/1,46311.74609,47827.31250,46288.48438,47686.81250,2.458267e+10,0.035623,0.955734,0.008644
1,2022/1/2,47680.92578,47881.40625,46856.93750,47345.21875,2.795157e+10,0.035266,0.946176,0.008557
2,2022/1/3,47343.54297,47510.72656,45835.96484,46458.11719,3.307163e+10,0.163539,0.575673,0.260787
3,2022/1/4,46458.85156,47406.54688,45752.46484,45897.57422,4.249468e+10,0.260760,0.270590,0.468649
4,2022/1/5,45899.35938,46929.04688,42798.22266,43569.00391,3.685108e+10,0.321027,0.456918,0.222055