In [1]:
import yfinance as yf 
import datetime as dt

In [2]:
# https://finance.yahoo.com/most-active
# https://finance.yahoo.com/crypto/
symbol = "ETH-USD"
# Read data
start =dt.date(2019, 11, 9)
end = dt.date(2023, 8, 11)

df = yf.download(symbol,end=end,start=start)
df.tail()

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-08-06,1834.845215,1836.248901,1824.986694,1827.462036,1827.462036,2963395076
2023-08-07,1827.239502,1842.522583,1804.716675,1826.938843,1826.938843,5837881974
2023-08-08,1826.931030,1873.847168,1824.430054,1855.807373,1855.807373,5812855406
2023-08-09,1855.779419,1869.736572,1845.489746,1854.297607,1854.297607,5870081833
2023-08-10,1854.348267,1863.310913,1845.442261,1850.753418,1850.753418,3760304518

In [3]:
df.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2019-11-09,184.311722,185.838531,183.902237,185.028717,185.028717,7277418704
2019-11-10,184.943359,190.920609,184.686783,189.477280,189.477280,8752784211
2019-11-11,189.502930,190.338425,185.086319,185.489639,185.489639,7877424106
2019-11-12,185.564835,187.948029,184.191055,186.843414,186.843414,7792186666
2019-11-13,186.942444,189.331879,185.937943,188.258743,188.258743,7343173596

In [4]:
df.shape

(1371, 6)

In [5]:
df.to_csv("data/ETH-N2Y.csv")